.Box {
    width: 50%;
    float: left;
}

.Box fieldset {
    min-height: 125px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
fieldset {
    margin: 8px 0 13px;
    padding-bottom: 5px;
    background: #f9f9f9;
    border: 1px solid #EAEEEE;
}
.Box button {
    margin: 10px 0 0 131px;
    display: block;
}
form label[for] {
    cursor: pointer;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 4px;
}
.Box label {
    padding: 3px 9px 3px 5px;
    width: 20%;
}
fieldset label {
    padding: 4px 9px 3px 10px;
    margin: 10px 6px 0px 4px;
    color: #333;
    font-size: 13px;
    
    background: #d3d1d1;
}

fieldset h2 + p.Description {
    font-size: 15px;
    margin-left: 0px;
    padding: 10px 10px;
    color: #555;
}



.ha {
    display: inline-block; 
    vertical-align: top; 
    margin-top: 3px;
    margin-left: 10px;
    align-items: center;
    padding:4px 9px 3px 10px;
    width: calc(50% - 20px); 
}




 
/* For phones */
@media only screen and (max-width: 600px) {
    .Box {
        width: 100%; 
        float: none; 
    }

    .Box button {
        margin: 10px auto; 
    }

    .Box fieldset {
        min-height: 100px;  
        margin-left: 5px; 
        margin-right: 5px;
    }

    .Box label {
        padding: 3px 7px 3px 3px; 
        width: 40%;
    }

    fieldset h2 + p.Description {
        font-size: 13px; 
    }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
   

    .Box {
        width: 100%; 
        float: none; 
    }
    .Box button {
        margin: 10px auto; 
    }

    .Box fieldset {
        min-height: 110px; 
        margin-left: 8px; 
        margin-right: 8px;
    }

    .Box label {
        padding: 3px 2px 3px 3px; 
        width: 30%; 
    }
    .ha {
        display: inline-block; 
        vertical-align: top; 
        margin-top: 3px;
        margin-left: 5px;
        align-items: center;
        padding:4px 9px 3px 10px;
        width: calc(60% - 20px); 
    }
    fieldset h2 + p.Description {
        font-size: 15px; 
    }
}
